body {
  background-color: #ceaeae;
  margin: 0;
  padding: 20px;
}

.portfolio-card {
  background-color: #fbfbfb;
  border-radius: 6px;
  box-shadow: 10px 10px 20px 5px #908181;
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 75vw;
}

.portfolio-links {
  flex: 1;
}

header {
  text-align: center;
}

nav ul {
  padding-inline-start: 0;
  list-style: none;
  text-align: center;
}

nav ul li {
  padding: 1rem 0;
}

main {
  flex: 5;
}